<form name="authForm" novalidate ng-submit="$ctrl.submitForm()">
  <lable>
    <input
      type="email"
      name="email"
      placeholder="Enter your email"
      ng-model="$ctrl.user.email"
      required
    >
  </lable>
    <lable>
      <input
        type="password"
        name="password"
        placeholder="Enter your password" ng-model="$ctrl.user.password"
        required
      >
    </lable>
    <div class="auth-button">
      <button
        type="submit"
        ng-disabled="authForm.$invalid"
      >
        {{ $ctrl.button }}
      </button>
    </div>
    <div ng-if="$ctrl.message">
      {{ $ctrl.message }}
    </div>
</form>